.tile.tile-blue {
    background-color: #debfb5;
    color: black;
}

.tile.tile-green {
    background-color: #abcfcd;
    color: black;
}

.tile.tile-orange {
    background-color: #9897bf;
    color: black;
}